body {
    background-color: rgb(37, 150, 190);
    margin: 0 auto;
}

header h1 {
    text-align: center;
    color: white;
}

header h1:hover {
    color: black;
}

main p {
    text-align: center;
    color: white;
}

#prophet {
    font-weight: 1000;
}

ol {
    font-weight: 1000;
    display: block;
    list-style: none;
    text-align: center;
}

li {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    width: 15%;
    text-align: center;
}

#atonement {
    text-align: center;
    margin: 20px auto 20px auto;
    max-width: 25%;
}

#atonement q {
    color: white;
    font-size: 40px;
}

footer p {
    text-align: center;
    margin: 0;
}